@using FiiiPay.Enterprise.Entities;
@using FiiiPay.Enterprise.Web.Models;
@{
    ViewBag.Title = "Add";
    ViewBag.PageName = Html.Resource("Banner", "FiiiBannerTitle");
    BannerFiles BFList = ViewBag.BannerPictureList as BannerFiles;
}

@model Banner
<div class="pagebody" style="max-width:800px;">
    <form class="form-horizontal" id="BannerPageHomeForm">
        @Html.HiddenFor(t => t.Id)
        <input type="hidden" name="Type" id="Type" value="@((int)BannerType.FiiiEcologyBanner)" />
        <div class="form-group">
            <label class=" col-sm-2 control-label" for="checkversion"><span style="font-size:150%;color:red;margin: 0 3px 0 0;vertical-align: top;">*</span>@Html.Resource("Banner", "Version")</label>
            <div class="col-sm-6 versionbtn">
                <input type="button" name="checkversion" id="CN" class="btn btn-default selected" onclick="" value="@Html.Resource("Banner", "VersionCN")" />
                <input type="button" name="checkversion" id="EN" class="btn btn-default" onclick="" value="@Html.Resource("Banner", "VersionEN")" />
                <input type="hidden" name="Version" id="Version" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="Title"><span style="font-size:150%;color:red;margin: 0 3px 0 0;vertical-align: top;">*</span>@Html.Resource("Banner", "Title")</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(t => t.Title, new { Class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Sort"><span style="font-size:150%;color:red;margin: 0 3px 0 0;vertical-align: top;">*</span>@Html.Resource("Banner", "Sort")</label>
            <div class="col-sm-10">
                <input type="number" name="Sort" id="Sort" value="@(Model.Sort==0?"":Model.Sort.ToString())" class="form-control" placeholder="" min="1" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="LinkUrl">@Html.Resource("Banner", "Link")</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(t => t.LinkUrl, new { Class = "form-control", placeholder = "" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label" style="text-align:left;"><span style="font-size:150%;color:red;margin: 0 3px 0 0;vertical-align: top;">*</span>@Html.Resource("Banner", "DetailsFigure")</label>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-2 col-sm-10 control-label" style="color:dimgrey;font-size:smaller;text-align:left;">@Html.Resource("Banner", "FiiiBannerRequire")</label>
        </div>

        <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label"></label>
            <div class="col-lg-10 col-sm-10">
                <ul class="list-inline" id="FiiiBannerFileList">
                    @if (BFList != null)
                    {
                        <li>
                            <img src="@BFList.FileUrl" />
                            <input type="hidden" name="BannerFileUrlList" id="BannerFileUrlList" value="@BFList.FileUrl" />
                            <div class="FiiiBannerFile"></div>
                            <button type="button" class="close" aria-label="Close" title="删除"><span aria-hidden="true">&times;</span></button>
                        </li>
                    }
                </ul>
                <div>
                    <a href="javascript:" onclick="UploadPicture()">
                        <img src="~/Content/Images/loadupbk.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="button" class="btn btn-primary" style="background-color:#3E82FE;" onclick="SubmitBannerPageHomeForm(@Model.Id)" value="@Html.Resource("Banner", "PublishPictures")" />
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    $(function () {

        //获取初始化默认的版本
        if (@Model.Version==@BannerVersion.EN) {
            $("#EN").addClass('selected').siblings().removeClass('selected');
            if ($(".versionbtn input").hasClass('selected')) {
                var defaultVer = $(".selected").attr("id");
                if (defaultVer == "CN") {
                    $("#Version").val(@((int)BannerVersion.CN));
                } else { $("#Version").val(@((int)BannerVersion.EN)); }
            }
        }
        if ($(".versionbtn input").hasClass('selected')) {
            var defaultVer = $(".selected").attr("id");
            if (defaultVer == "CN") {
                $("#Version").val(@((int)BannerVersion.CN));
            } else { $("#Version").val(@((int)BannerVersion.EN)); }
        }
        //点击切换版本
        $(".versionbtn input").click(function () {
            var id = $(this).attr("id");
            $(this).addClass('selected').siblings().removeClass('selected');
            if ($(".versionbtn input").hasClass('selected')) {
                var defaultVer = $(".selected").attr("id");
                if (defaultVer == "CN") {
                    $("#Version").val(@((int)BannerVersion.CN));
                } else { $("#Version").val(@((int)BannerVersion.EN)); }
            }
        });

        $("#FiiiBannerFileList").on("click", ">li .close", function () {
            $(this).closest("li").remove();
        });
    });

    //上传封面图片
    function UploadPicture() {
        $.openmodalpage("UploadPicture", "/Banner/UploadFiiiBanner", {}, "上传Banner", "big");
    }

    function CloseUploadPicturePage() {
        $.closemodalpage("UploadPicture");
    }

    function SubmitBannerPageHomeForm(id) {

        //version ：  CN：中文版 EN：英文版

        if ($("#Title").val().trim().length == 0) {
            swal({
                title: "",
                text: "标题未填写",
                type: "warning"
            });
            return;
        }
        //if ($("#LinkUrl").val().trim().length == 0) {
        //    swal({
        //        title: "",
        //        text: "链接未填写",
        //        type: "warning"
        //    });
        //    return;
        //}
        if ($("#Sort").val() <= 0) {
            swal({
                title: "",
                text: "排序数字需大于0",
                type: "warning"
            });
            return;
        }
        if ($("#Sort").val().trim().length == 0) {
            swal({
                title: "",
                text: "排序未填写",
                type: "warning"
            });
            return;
        }
        var arrBannerId = $("input[name='BannerFileUrlList']");
        if (arrBannerId.length == 0 || arrBannerId.length>1) {
            swal({
                title: "",
                text: "图片不能为空且最多上传1张",
                type: "warning"
            });
            return;
        }

        var postdata = $("#BannerPageHomeForm").serialize();
        $.ajax({
            url: '/Banner/SaveEdit',
            type: "POST",
            data: postdata,
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (context) {
                if (context.Status) {
                    swal({
                        title: "保存成功",
                        type: "success"
                    }, function () {
                             window.location.href = "/" + BaseFunction.GetLanguage() + "/Banner/FiiiBannerIndex";
                    });
                }
                else {
                    swal({
                        title: "保存失败",
                        type: "error",
                        text: context.Message
                    });
                }
            }
        })

    }

    function UploadPictureSuccess(file, response) {
        var url = response.url;
        if (url) {
            $li = $('<li></li>');
            $img = $('<img />').appendTo($li);
            $idtxt = $('<input type="hidden" name="BannerFileUrlList" />').appendTo($li);
            var specialtitlehtml = '<div class="FiiiBannerFile"></div>';
            specialtitlehtml += '<button type="button" class="close" aria-label="Close" title="删除"><span aria-hidden="true">&times;</span></button>';
            $li.append(specialtitlehtml);

            $img.attr("src", response.url);
            $idtxt.val(response.url);

            $("#FiiiBannerFileList").append($li);
        }
    }

</script>

<style>
    #FiiiBannerFileList > li {
        width: 420px;
        height: 315px;
        padding: 0;
        margin-right: 15px;
        position: relative;
    }

        #FiiiBannerFileList > li img {
            max-width: 100%;
            height: 300px;
            border: solid 1px #ddd;
        }

        #FiiiBannerFileList > li .close {
            position: absolute;
            top: 5px;
            right: 5px;
            color: darkred;
            z-index: 100;
            opacity: 0.8;
            filter: Alpha(opacity=80);
        }

        #FiiiBannerFileList > li .FiiiBannerFile {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            height: 35px;
            background-color: #fff;
            opacity: 0.5;
            filter: Alpha(opacity=50);
            z-index: 99;
            width: 100%;
        }
</style>
