@{
    ViewBag.Title = "错误";
    Layout = null;
    FiiiPay.Enterprise.Web.filters.EnterpriseErrorAttribute.ErrorMessage msg = Model ?? new FiiiPay.Enterprise.Web.filters.EnterpriseErrorAttribute.ErrorMessage();
}

@model FiiiPay.Enterprise.Web.filters.EnterpriseErrorAttribute.ErrorMessage


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    @Styles.Render("~/Content/login.css")
</head>
<body>
    <div style="padding:5px;">
        <div>
            <h3 class="text-danger">It seems to be in trouble，please get the screenshot to IT</h3>
        </div>
        <table class="table table-bordered">
            <tr>
                <th style="width:160px;">Request path</th>
                <td>@msg.Path</td>
            </tr>
            <tr>
                <th>Error type</th>
                <td>@msg.MsgType</td>
            </tr>
            @if (msg.ShowException)
            {
                <tr>
                    <th>Message</th>
                    <td>@msg.Message</td>
                </tr>
            }
            <tr>
                <th>Http method</th>
                <td>@msg.HttpMethod</td>
            </tr>
            <tr>
                <th>UserAgent</th>
                <td>@msg.UserAgent</td>
            </tr>
            @if (msg.ShowException)
            {
                <tr>
                    <th>StackTrace</th>
                    <td>@msg.StackTrace</td>
                </tr>
            }
            <tr>
                <th>Time</th>
                <td>@msg.Time</td>
            </tr>
        </table>
    </div>
</body>
</html>

